html,
body{
   margin:0;
   padding:0;
 }
 
 h1, h2, h3, h4 {
   color: #FC9F5B;
 }
 
summary {
   color: #B76D68;
   font-size: 22px;
 }
 
 h1 {
   text-align:center; 
   font-size:35px; 
   padding: 10px;
     padding: 0px 20px;
}












summary::-webkit-details-marker {
   display: none
}

summary:after {
   content: "+";
   color: #43AA8B;
   float: left;
   font-size: 1em;
   font-weight: bold;
   margin: 0 5px 0 0;
   padding: 0;
   text-align: center;
   width: 20px;
}

details[open] summary:after {
   content: "-";
}

.header{
  width: 100%;
  height: 80px;
  background-color: #577590;
}

.intro {
  text-align: left;
}



.intro h1{
  display: inline-block;
  float: left;
  padding: 10px 8px;
  font-family: 'Barlow';
  font-size: 32px;
  color: white;
  font-weight: 200;

}

.intro span{
  font-weight: 800;
}

.ttl {
  text-align: left;
}

.ttl h1{
  display: inline-block;
  float: left;
  padding: 0px 0px;
  font-family: 'Barlow';
  font-size: 32px;
  color: white;
  font-weight: 200;

}

.ttl span{
  font-weight: 800;
}

.author{
  font-weight: 200;
  font-size: 20px;
  font-family: 'Barlow';
}



.navigation {
  text-align: right;
  font-family: 'Barlow';
  font-size: 16px;
  list-style: none;
}

.navigation li{
  display: inline-block;
  padding: 40px 8px;
  color: white;
}

.navigation li a{
  color: white;
  font-family: 'Barlow';
  font-size: 16px;

}

.quote-container {
  background-color: #F7E733;
}

footer{

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #43AA8B;
    font-size: 16px;
    font-family: 'Barlow';
    font-weight: 200;
    margin: 1rem 0rem 0rem 0rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem 0rem -2.5rem;
}

.socials li{
    margin: 0 0 px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    /*border: 1.1px solid white;*/
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}


/* link */
a:link {
  color: #FC9F5B;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

