
<footer>
  <hr color="white">
  <div class="footer-content">
      <p style='color:#FC9F5B;'>Website created by Benjamin Nowak</p>
       <ul class="socials">
             <li><a href="https://scholar.google.com/citations?user=YfbhYDIAAAAJ&hl=fr"><img src='templates/logo/googlescholar.svg' class="fa scholar" width="32" height="32"> </a></li>
    <li><a href="https://twitter.com/BjnNowak"><img src='templates/logo/twitter.png' class="fa twitter" width="32" height="32"> </a></li>
    <li><a href="https://www.researchgate.net/profile/Benjamin-Nowak-2"><img src='templates/logo/researchgate.svg'class="fa researchgate" width="32" height="32"> </a></li>

        <li><a href="https://github.com/BjnNowak"><img src='templates/logo/github-mark-white.svg' class="fa git" width="32" height="32"> </a></li>
 </ul>
  </div>
  <br>
</footer>